<div class="container">
    <div class="form-container  col-md-5">
<form (ngSubmit)="onSubmit()" #GenerateForm="ngForm" >
    <div class="form-group"  >
        <label for="databases">Select source database</label>
        <select class="form-control" name="database" [(ngModel)]="Inputform.DatabaseName" >
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    <div class="form-group" >
      <label for="tableName">Table Name</label>
      <input  class="form-control" name="tableName" [(ngModel)]="Inputform.TableName"  >
    </div>
    <div class="form-group">
        <label for="columnName">Column Name</label>
        <input  class="form-control" name="columnName"  [(ngModel)]="Inputform.ColumnName"  >
      </div>
    <div class="form-group">
      <label for="actions">Action</label>
      <select multiple class="form-control" name="action" [(ngModel)]="Inputform.Operation" >
        <option>New</option>
        <option>Alter</option>
        <option>Delete</option>
      </select>
    </div>
    <div class="form-group">
        <label for="dataType">Data Type</label>
        <select multiple class="form-control" name="dataType" [(ngModel)]="Inputform.ColumnType">
          <option>int</option>
          <option>nvarchar(100)</option>
        </select>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 <h1> Gi</h1> <h1>{{Inputform.DatabaseName}}</h1>
    </div></div>